/* reset css */
*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
/* import font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
/*cài font và size cho cả bài */
html{
    font-family: 'Fira Sans', sans-serif;
    font-size: 100%;
}
/* (Lớp giả) đỗi màu chung*/
:root{
    --text-color:brown;
}
/* Khung chung gồm logo và tìm kiếm vỏ hàng */
.top{
    position: relative;
    padding: 0px;
    width: 100%;
    float: right;
}
/* chữ gần logo */
h2{
    font-size: 2rem;
    position: absolute;
    top: 14px;
    left: 90px;
    color: var(--text-color);
}
/* logo */
.logo img{
    position: absolute;
    top: 0px;
    left: 35px;
    width: 70px;
}
/* thanh tìm kiếm và vỏ hàng */
div.search{
    float: right;
    line-height: 80px;
}
div.search>input {
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 7px 0px 0px 5px;
    padding-left: 10px;
    line-height: 20px;  
    font-weight: bold;
}
div.search>a.timkiem{
    font-size: 24px;
    position: absolute;
    top:3px;
    right:135px;
}
.timkiem>i{
    color: grey;
}
.search>a.giohang{
    border: 1px solid #8f8f8f;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 9px 8px;
    color: gray;
}
.search>a.giohang>b{
    font-size: 17px;
    line-height: 15px;
    margin-left: 10px;
}
/* menu */
.menu>ul{
    line-height: 50px;
    margin:0px 0px;
    padding:0px;
    border-radius:5px;
    list-style:none;
    height:40px;
}
.menu>ul>li>a{
    line-height:40px;
    font-size: 1.5rem;
    text-decoration: none;
    padding-left: 50px;
    color: black;
}
.menu>ul>li{
    float:left;
    margin:0 5px;
}
/* ảnh header  */
header img{
    width: 100%;
    margin: 20px auto;
}
/*hãng(Nhà sản xuất) */
.danhmuc{
    width: 80%;
    margin: 0px auto;
    height: 50px;
    border: 1px solid var(--text-color);
    z-index: 1;
    margin: 20px auto;
}

.danhmuc> div >a>img{
    border-radius: 30px;
}
/* Khung to chứa nhiều sản phẩm */
.box {
    width: 80%;
    margin: 0px auto;
    height: 2000px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
/* Khung nhỏ chứa 1 sản phẩm */
.sp{
    width: 19%;
    line-height: 26px;
    box-shadow: 0px 0px 1px gray;
    float: left;
    margin: 5px 6px;
}
/* chỉnh hiệu ứng khi di chuột vào khung sản phẩm nhỏ */
.sp:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .3s linear;
}
/* ảnh của 1 sản phẩm */
.sp img{
    width: 100%;
}
/* Khung của 8gb va ssd */
span{
    border: 1px solid black;
}
/* Tên sản phẩm  */
.sp a{
    color: black;
    font-size: 1.3rem;
    font-family: Arial;
    text-decoration: none;
}
/* hiệu ứng khi di chuột vào tên  */
.sp a:hover{
    color: var(--text-color);
    transition: all .2s linear;
}
/*
div>a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    word-spacing: 1px;
    list-style: none;
    text-align: justify;
}
div>#tin {
    text-shadow: 0px 0px 10px red;
    text-decoration: none;
    padding: 5px;
    margin-left: 20px;
    
} */
footer{
    border-top: 5px double orangered;
    line-height: 50px;
    background-color: lightcoral;
    text-align: center;
    font-variant: small-caps;
    clear: both;
    font-size: 19px;
    width: 100%;
}
