 /* menu ở giữa đẹp */
.menu>ul>li>a {
    display: inline-block;
    transition: all .5s ease;
    color: #001F3F;
    padding: 4px 0px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    background-color:  transparent;
    border-radius: 4px;
    transform: translateX(-30%);
    position: relative;
    text-decoration: none;
}
/* hiệu ứng cho mấy cái chữ bên trong */
.menu>ul>li:hover>a {
    padding: 0px;
    color: orangered;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

/* reset css */
*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
/* import font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
/*cài font và size cho cả bài */
html{
    font-family: 'Fira Sans', sans-serif;
    font-size: 100%;
}
/* (Lớp giả) đỗi màu chung*/
:root{
    --text-color:rgb(190, 34, 34);
}
/* Khung chung gồm logo và tìm kiếm vỏ hàng */
.top{
    position: relative;
    padding: 5px;
    width: 100%;
    float: right;
}
/* chữ gần logo */
h2{
    font-size: 2rem;
    position: absolute;
    top: 14px;
    left: 90px;
    color: var(--text-color);
}
/* logo */
.logo img{
    position: absolute;
    top: 0px;
    left: 35px;
    width: 70px;
}
/* thanh tìm kiếm và vỏ hàng */
div.search{
    float: right;
    line-height: 80px;
}
div.search>input {
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 7px 0px 0px 5px;
    padding-left: 10px;
    line-height: 20px;  
    font-weight: bold;
    height: 40px;
}
div.search>a.timkiem{
    font-size: 24px;
    position: absolute;
    top:7px;
    right:139px;
}
.timkiem>i{
    color: orangered;
}
.search>a.giohang{
    border: 1px solid #8f8f8f;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    color: gray;
    text-shadow: 0px 0px 2px orangered;
    word-spacing: -3px;
    font-size: 18px;
}
.search>a.giohang>b{
    font-size: 17px;
    line-height: 15px;
    margin-left: 10px;
}
/* menu */
.menu>ul{
    list-style-type: none;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block; 
    border: 2px solid gray;
    border-radius: 30px;
}
div.menu {
    position: relative;
    display: flex;
    margin: 0px auto;
    padding: 0px 30px;
}
.menu>ul>li{
    float:left;
    margin: 0px 5px;
    border: 2px solid transparent; 
    padding: 12px;
}
/* ảnh header  */
header img{
    width: 100%;
    margin: 20px auto;
}
/*hãng(Nhà sản xuất) */
.danhmuc{
    width: 80%;
    margin: 0px auto;
    height: 70px;
    border: 1px solid var(--text-color);
    z-index: 1;
    line-height: 98px;
    text-align: center;
    border-radius: 30px;
    background-color: black
}

.danhmuc a img{
    border-radius:  30px;
    margin: 0px 10px;
}
/* khung 1 */
.boxnoibat{
    width: 80%;
    min-height: 1115px;
    margin: 0px auto;
    background-color: yellow;
    margin-top: 50px;
    text-align: center;
}
h1{
    line-height: 80px;
    font-size: 2rem;
    color: var(--text-color);
}
br{
    clear: both;
}
/* khung 2 */
.boxmacbook{
    width: 80%;
    min-height: 600px;
    margin: 0px auto; 
    margin-top: 200px;      
}
.boxmacbook img{
    width: 100%;
}
/* Khung 3 */
.boxphu {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    margin-top: 200px;
}
.boxphu img{
    width: 98.8%;
}


/* Khung nhỏ chứa 1 sản phẩm */
.sp{
    width: 19%;
    line-height: 26px;
    box-shadow: 0px 0px 5px red;
    float: left;
    margin: 5px 0px;
    margin-left: 11.5px;
    background-color: white;
}
/* chỉnh hiệu ứng khi di chuột vào khung sản phẩm nhỏ */
.sp:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-5px) ;
    transition: 250ms;
}
/* ảnh của 1 sản phẩm */
.sp img{
    width: 100%;
}
/* Khung của 8gb va ssd */
span{
    border: 1px solid black;
}
/* Tên sản phẩm  */
.sp a{
    color: black;
    font-size: 1.2rem;
    font-family: Arial;
    text-decoration: none;
}
del{
    color: gray;
    font-size: 0.9rem;
}
/* hiệu ứng khi di chuột vào tên  */
.sp a:hover{
    color: var(--text-color);
    transition: all .2s linear;
}

footer{
    margin-top: 200px;
    border-top: 5px double orangered;
    line-height: 50px;
    background-color: lightcoral;
    text-align: center;
    font-variant: small-caps;
    clear: both;
    font-size: 19px;
    width: 100%;
}
