.boxcenter{
   width: 100%;
   background-color: #eff1f5;
   padding: 24px 0 0;
}
.padding--bot{
   padding-bottom: 32px;
}
.chatbox{
   width: 60px;
   height: 60px;
   background-color:#cd1817;
   float: right;
   position: fixed;
   right: 12px;
   top: 296px;
   border-radius: 50%;
   font-size: 40px;
   color: #fff;
}
.chat{
   margin-top: 12px;
   margin-left: 10px;
}
.contain {
   width: 50%;
   margin: 0px auto;
   height: auto;
   
   /* margin: 24px; */
}
.shared{
   background-color: #fff;
   border-radius: 5px;
   /* margin-bottom: 2px; */
   padding: 20px 0 ;
   border-bottom: 1px solid #eee;
}
.shared>p{
   margin-left: 20px;
   font-size: 30px;
}
.FAQ{
   background-color: #fff;
   border: 1px solid #fff ;
   border-radius: 5px;
}
.contain > .FAQ > ul > li{
   margin: 30px auto;
   color:  #666;
   font-size: 20px;
}
.contain > .FAQ > ul > li:hover{
   color: #000;
   cursor: pointer;
}
.contain > .FAQ > ul > li:hover .faq_subinput1{
   display: block;
}
.contain .faq_subinput1{
   font-size: 17px;
   max-width: 90%;
   text-align: justify;
   background-color: #ccc;
   padding: 12px;
   display: none;
   animation:FadeIn linear .5s;

}
@keyframes FadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

